*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #04202e;
}

.link{
    margin: 20px;
    width: fit-content;
    position: relative;
    text-decoration: 0;
    background-color: #37a6ff;
    color: #fff;
    padding: 10px 25px;
    border-radius: 6px;
    font-size: 14px;
}

span{
    position: absolute;
    top: -9px;
    right: -9px;
    background-color: red;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
}

.list_produits{
    margin: 100px auto;
    position: relative;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px,1fr));
    gap: 25px;
}

.produit{
    background-color: #fff;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    border-radius: 6px;
    overflow: hidden;
    transition: .5s;
}

.produit:hover{
    transform: scale(1.1);
}

.image_product{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.image_product img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    padding: 20px;
}

.content{
    margin: 0 0 30px 0;
    height: fit-content;
    text-align: center;
}

.price{
    margin: 15px 0;
    font-weight: bold;
    color: #37a6ff;
}

.id_product{
    text-align: center;
    text-decoration: 0;
    background-color: #37a6ff;
    letter-spacing: 1px;
    color: #fff;
    padding: 10px 10%;
    border-radius: 6px;
}

/* panier css */
.panier{display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
}

.panier img{
    width: 40px;
    padding: 8px 0;
}

.panier div{
    width: 70%;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
}

table{
    width: 100%;
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 13px;
}

th{
    padding: 10px 0;
    font-weight: 400;
}

td{
    border-top: .5px solid #999;
    text-align: center;
    color: #37a6ff;
}

tr{
    border-bottom: .5px solid #999;
}

.total th{
    border: 0;
    float: left;
    color: #37a6ff;
    padding: 10px;
}
